:root {
    --cor-fundo: #000000;
    --cor-card: #222222;
    --cor-primaria: #ab35ff;
    --cor-texto-branca: #ffffff;
    --cor-texto-cinza: #a0a0a0;
    --cor-texto-suave: #d1d1d1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-branca);
    line-height: 1.6;
    overflow-x: hidden;
}

.background-dots {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.dot {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    animation: float 20s infinite linear;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-100px) translateX(50px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

h1,
h2,
h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

#cabecalho {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-texto-branca);
    user-select: none;
}

.logo span {
    color: var(--cor-primaria);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

nav a {
    color: var(--cor-texto-branca);
    font-weight: 400;
    transition: color 0.3s;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--cor-primaria);
    transition: width 0.3s;
}

nav a:hover {
    color: var(--cor-primaria);
}

nav a:hover::after {
    width: 100%;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0 8rem;
    max-width: auto;
    text-align: center;
}

#inicio h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

#inicio h1 span {
    color: var(--cor-primaria);
}

#inicio .btn {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-branca);
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px #ab35ff8e;
}

#sobre {
    padding: 100px 0;
    background-color: var(--bg-preto);
}

.sobre-grade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

#sobre h2,
#servicos h2,
#projetos h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    line-height: 1.3;
}

#sobre h3,
#servicos h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

#sobre h3 span {
    color: var(--cor-primaria);
}

.descricao,
.cabecalho-sessao p,
.rodape-texto-chamada p {
    color: var(--cor-texto-cinza);
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.sobre-imagem {
    position: relative;
}

.sobre-imagem img {
    width: 100%;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.portfolio-projetos {
    padding: 100px 0;
    text-align: center;
}

.cabecalho-sessao h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.container-filtro {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.botao-filtro {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--cor-texto-suave);
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.botao-filtro.active,
.botao-filtro:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-branca);
    border-color: var(--cor-primaria);
    transform: translateY(-2px);
}

.grade-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.item-portfolio.hidden {
    display: none;
}

.item-portfolio {
    border-radius: 18px;
    overflow: hidden;
    text-align: left;
    transition: all 0.4s ease;
    border: 1px solid transparent;
}

.item-portfolio:hover {
    transform: translateY(-10px);
    border-color: var(--cor-primaria);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.imagem-item {
    overflow: hidden;
    position: relative;
}

.imagem-item img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: transform 0.5s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.item-portfolio:hover .imagem-item img {
    transform: scale(1.05);
}

.sobreposicao-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 15, 18, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item-portfolio:hover .sobreposicao-item{
    opacity: 1;
}

.icone-sobreposicao {
    width: 45px;
    height: 45px;
    background: var(--cor-primaria);
    color: #0d0f12;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.item-portfolio:hover .icone-sobreposicao {
    transform: translateY(0);
}

.item-portfolio:hover .icone-sobreposicao:nth-child(2) {
    transition-delay: 0.1s;
}

.icone-sobreposicao:hover {
    background: #7e27bd;
}

.detalhes-item {
    padding: 25px 30px;
}

.categoria-item {
    color: var(--cor-primaria);
    font-size: 0.85rem;
    font-weight: 600;
    display: block;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.detalhes-item h3 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: var(--cor-texto-branca);
}

.detalhes-item p {
    color: var(--text-muted);
    font-size: 0.95rem;
    line-height: 1.6;
}

.rodape {
    padding: 100px 0 50px;
}

.rodape-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.rodape-texto-chamada h2 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.rodape-texto-chamada h2 span {
    color: var(--cor-primaria);
}

.btn a {
    text-decoration: none;
    color: var(--cor-texto-branca);
}

.rodape-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais-rodape {
    display: flex;
    gap: 20px;
}

.icone-social {
    width: 45px;
    height: 45px;
    color: var(--cor-texto-branca);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.icone-social:hover {
    background: var(--cor-primaria);
    color: #000;
    transform: translateY(-5px) rotate(8deg);
    border-color: var(--cor-primaria);
    box-shadow: 0 10px 20px rgba(255, 204, 51, 0.2);
}

